<div class="container">

  <h2>登録情報編集</h2><br>
  <div class="col-xs-2">
       名前
      </div>
      <div class="col-xs-1">
       （姓）
      </div>
      <div class="col-xs-2">

      </div>
      <div class="col-xs-1">
        （名）
      </div>
      <div class="col-xs-2">

      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        フリガナ
      </div>
      <div class="col-xs-1">
        （セイ）
      </div>
      <div class="col-xs-2">

      </div>
      <div class="col-xs-1">
        （メイ）
      </div>
      <div class="col-xs-2">

      </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
           メールアドレス
        </div>
        <div class="col-xs-3">

        </div>
    </div>
    <div class="row user_edit">
      <div class="col-xs-3">
       電話番号
      <div class="col-xs-3">

      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
       郵便番号
      </div>
      <div class="col-xs-3">

      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
       住所
      </div>
      <div class="col-xs-5">

      </div>
