<h1>(名前)さんの会員情報編集</h1>
<table>
    <thead></thead>
    <tbody>
        <!--form_with customers-->
            <tr>
                <th>顧客ID</th>
                <th>ID表示</th>
            </tr>
            <tr>
                <th>氏名</th>
                <th>名前変更フォーム</th>
            </tr>
             <tr>
                <th>フリガナ</th>
                <th>フリガナ変更フォーム</th>
            </tr>
             <tr>
                <th>郵便番号</th>
                <th>郵便番号変更フォーム</th>
            </tr>
            <tr>
                <th>住所</th>
                <th>住所変更フォーム</th>
            </tr>
             <tr>
                <th>電話番号</th>
                <th>電話番号変更フォーム</th>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <th>メールアドレス変更フォーム</th>
            </tr>
            <tr>
                <th>会員ステータス</th>
                <th>有効　退会済み</th>
            </tr>
            <!--submit 変更を保存する-->
        <!--end-->
    </tbody>
</table>

