<main>
    
<h1>会員一覧</h1>
<div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
            <th><%= customer.id %></th>
            <td><%= customer.first_neme %><%= customer.last_neme%></td>
            <td><%= customer.email %></td>
            <td></td>
        <% end %> 
        
    </tbody>
</table>
</div>
</main>