<h1>(名前)さんの会員詳細</h1>
<table>
    <thead></thead>
    <tbody>
        <tr>
            <th>顧客ID</th>
            <th>ID　有効会員かどうか</th>
        </tr>
        <tr>
            <th>氏名</th>
            <th>名前を表示</th>
        </tr>
         <tr>
            <th>フリガナ</th>
            <th>フリガナ表示</th>
        </tr>
         <tr>
            <th>郵便番号</th>
            <th>郵便番号表示</th>
        </tr>
        <tr>
            <th>住所</th>
            <th>住所表示</th>
        </tr>
         <tr>
            <th>電話番号</th>
            <th>電話番号表示</th>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <th>メールアドレス表示</th>
        </tr>
    </tbody>
</table>
