
<div class="about">
  <h1 class="about-title">About</h1>
  <p class="about-text">
    ながのCakeは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能<span class="about-span text-danger">＊</span>ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文下さい。
  </p>
  <div class="text-danger">＊別途送料全国一律８００円かかります。(北海道・沖縄・他離島含む）</div>
  <div class="about-img">
  </div>
</div>
