<container>
<div class="row">
<div class="col-xs-offset-1 col-xs-10 col-xs-offset-1">
    <p><h1>ショッピングカート</h1></p>
    <p class="text-right">カートを空にする</p>
</div>
</div>
<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
       
<table class="table table-bordered"> 
    
    <tr>
        <thead>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
        </thead>
        <tbody>
            <!--each do cart_items-->
                <tr>
                    <th>画像と名前</th>
                    <td>値段</td>
                    <td>数量</td>
                    <td>合計金額</td>
                    <td>削除ボタン</td>
                </tr>
        </tbody>
        
    </tr>
</table>

<btn>買い物を続ける</btn>
<table class="table table-bordered">
    <thead></thead>
    <tbody>
        <tr>
            <th>合計金額</th>
            <td>値段</td>
        </tr>
    </tbody>
</table>
<btn>情報入力に進む</btn> 
    </div>
</div>
</container>