<container>
<div class="row">
<div class="col-xs-offset-1 col-xs-10 ">
    <p><h1>ショッピングカート</h1></p>
    <p class="text-right">カートを空にする</p>
</div>
</div>
<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
<table class="table table-bordered">
    
    <tr>
        <thead>
            <th></th>
            <th></th> <!-- *1.1-->
            <th>数量</th>
            <th>小計</th>
            <th></th>
        </thead>
        <tbody>
            <!--each do cart_items-->
                <tr>
                    <th><%= @cart_item.item %></th>
                    <td><%= @cart_item.price %></td>
                    <!--%= form_with model:@cart_item %>-->
                    <td>数量</td>
                    <td>合計金額</td>
                    <td><%= link_to "削除する", cart_item_path(@cart_item.id), mathod: :delete %></td>
                </tr>
        </tbody>
        
    </tr>
</table>
</div>
</div>
<div class="row">
<div class="col-xs-offset-1 col-xs-10">
<%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
<div class="col-xs-3">
<table class="table table-bordered">
    <thead></thead>
    <tbody>
        <tr>
            <th>合計金額</th>
            <td>値段</td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>


</container>