<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <table class="table table-bordered">
        <tr>
          <th>
            ジャンル検索
          </th>
        </tr>
        <tr>
          <th>
            <!--eachでジャンル名を持ってくる？-->
            <ul>
              <li>
                ジャンル1
            
              </li>
              <li>
                ジャンル２
              </li>
            </ul>
            <!--ここまで？もしかしたらthの中かも。レイアウトみながら調整！-->
          </th>
        </tr>
      </table>
    </div>
    <div class="col-xs-9">
      <h3>商品一覧<span>(全@hoge.count件)</span></h3>
      <!--ここからor rowの下からeach-->
      <div class="row">
        <div class="col-xs-8 col-sm-6">
          <img src="" alt="img1">
          <p>item-name</p>
          <p>item-price</p>
        </div>
        <div class="col-xs-4 col-sm-6">
          <img src="" alt="img1">
          <p>item-name</p>
          <p>item-price</p>
        </div>
      </div>
      <!--ここまで or rowとじの上まで-->
    </div>
  </div>
</div>