/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  margin-bottom: 30px;
  padding-bottom: 30px;
}
// item/top
.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 400px; /* 高さ300px */
  background: image-url('cake.jpg');
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  text-align: right; /* 文字を中央揃えにする */
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
  color: white;
  padding-bottom: 50px;
}
.top-text{
  font-size: 25px;
  padding-bottom: 20px;
}
.top-title{
  padding: 30px;
}

// about
.about {
  	margin: 30px auto 0;
  	padding: 15px 30px;
  	text-align: center;
  }
.about-title {
  font-size: 50px;
  padding-bottom: 30px;
}
.about-text{
  font-size: 25px;
}
.about-img {
  width: 100%; /* 横幅いっぱい */
  height: 300px;
  background: image-url('about.jpg');
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  margin-top: 50px;
  padding-bottom: 50px;
}
.about-span{
  font-size: 18px;
}
.sign-in {
  	margin: 30px auto 0;
  	padding: 15px 30px;
  	text-align: center;
  }
  // sign系
.sign{
  margin-bottom: 40px;
}
.forget-pass{
  text-align: right;
}
.to-sign-up{
  text-align: center;
}
.sukima{
  margin-bottom: 20px;
}
.index{
  margin-bottom: 30px;
}
.make{
  margin-top: 50px;
}
.name{
  color: white;
}
.window{
  margin-left:10px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thanks_img{
  width: 100%; /* 横幅いっぱい */
  height: 500px; /* 高さ300px */
  background: image-url('box.jpg');
  background-size: contain; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  background-repeat: no-repeat;
  padding-top: 150px; /* 上側の内側余白で垂直方向の位置を調整 */
  padding-bottom: 50px;
  background-color:rgba(255,255,255,0.4);
background-blend-mode:lighten;
}
.thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  }
.img-btn{
  padding-top: 30px;
}